<ul id="notifications-list" class="notifications-list"></ul>

<script type="text/html" id="notification-template">
  <li class="notification">
    <strong>[title]</strong>
    <p>[text]</p>
    <time>[time]</time>
    <a href="[url]" class="goto">[linkText]</a>
    <a href="#" class="closer">x</a>
  </li>
</script>
