<html>
<head>
  <title>Multiplication</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

  <canvas id="canvas"></canvas>
  <div id="chat"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/vendor/moment.js"></script>
  <script src="/javascripts/vendor/jquery-1.9.1.js"></script>
  <script src="/javascripts/vendor/object.extend.js"></script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script>
    var socket = io.connect('http://localhost:8124'),
        chat   = new Chat('#chat', socket),
        logger = (function() {
          return {
            log: function(text) {
              chat.line(text, 'system');
            }
          }
        }());

    new Game('canvas', {
      cellWidth: 40,
      socket: socket,
      thisPlayerNr: 1,
      actualPlayer: 1,
      logger: logger
    });

    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>
</body>
</html>
