{{{js 'webpage'}}}

<ul class="no-liststyle" id="top-messages">
  <li class="info message">I am an information for your satisfaction.</li>
  <li class="error message">You probably did something wrong.</li>
  <li class="success message">I like you, really, I do!</li>
</ul>
<script type="text/javascript">
  $(function() {
    $('#top-messages').on('click', 'li', function(event) {
      $(event.currentTarget).addClass('is-deleted');
    });
  });
</script>

<p>Here is some text that describe nothing. And in between there is <a href="#">a link leading nowhere</a> as I can tell.</p>

<section class="games-list">
  <h1>List of games could look like this</h1>
  <div class="game-vcard game-morris">
    <a href="#" class="user-icon">
      <img src="http://www.gravatar.com/avatar/df96dd844e3aced2fd7147b55ad2e5bb?d=retro&amp;s=40" width="40" height="40">
    </a>
    <a href="#" class="name">Player_No_1</a>

    <ul class="actions">
      <li><a href="#">View the game</a></li>
    </ul>
    <ul class="stats">
      <li><span class="number">2</span> Turns</li>
      <li>Phase: <span class="phase">Set-Phase</span></li>
    </ul>
  </div>
  <div class="game-vcard game-cloned">
    <a href="#" class="user-icon">
      <img src="http://www.gravatar.com/avatar/df96dd844e3aced2fd7147b55ad2e5bb?d=retro&amp;s=40" width="40" height="40">
    </a>
    <a href="#" class="name">Multiplayer</a>

    <ul class="actions">
      <li><a href="#">Make your turn</a></li>
    </ul>
    <ul class="stats">
      <li><span class="number">90</span> Turns</li>
      <li>Score: <span class="number">4</span>:<span class="number you">6</span></li>
    </ul>
  </div>
  <div class="game-vcard game-reversi">
    <a href="#" class="user-icon">
      <img src="http://www.gravatar.com/avatar/df96dd844e3aced2fd7147b55ad2e5bb?d=retro&amp;s=40" width="40" height="40">
    </a>
    <a href="#" class="name">SomeoneReversed</a>

    <ul class="actions">
      <li><a href="#">Join the game</a></li>
    </ul>
    <ul class="stats">
      <li>Waiting for players</li>
    </ul>
  </div>

  <div class="game-vcard game-reversi lost">
    <a href="#" class="user-icon">
      <img src="http://www.gravatar.com/avatar/df96dd844e3aced2fd7147b55ad2e5bb?d=retro&amp;s=40" width="40" height="40">
    </a>
    <a href="#" class="name">SomeoneReversed</a>

    <ul class="actions">
      <li><a href="#">Look at that defeat</a></li>
    </ul>
    <ul class="stats">
      <li>Score: <span class="number">10</span>:<span class="number you">6</span></li>
      <li>You lost the game</li>
    </ul>
  </div>

  <div class="game-vcard game-morris won">
    <a href="#" class="user-icon">
      <img src="http://www.gravatar.com/avatar/df96dd844e3aced2fd7147b55ad2e5bb?d=retro&amp;s=40" width="40" height="40">
    </a>
    <a href="#" class="name">SomeoneReversed</a>

    <ul class="actions">
      <li><a href="#">View your Victory</a></li>
    </ul>
    <ul class="stats">
      <li>You won the game</li>
    </ul>
  </div>
</section>
