.chat {
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAAH0lEQVQImWN4++U7EyMDAwIzYmczQPF/ZPwfjc/AAAB//gwBtMlL7wAAAABJRU5ErkJggg==);
  background: #fff;
  border-left: 1px solid #ccc;
  display: inline-block;
  font-family: @monospace;
  margin-left: 20px;
  padding: 20px 6px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: top;
  width: 400px;
  .transition(right 250ms);
  .material-shadow(1);

  &.hidden {
    right: -210px;
  }

  .system {
    color: #999;
  }

  .you {
    color: #090;
  }

  .player {
    color: #900;
  }

  .spectator {
    color: #333;
  }

  .content {
    position: absolute;
    top: 31px;
    bottom: 22px;
    overflow-y: scroll;
    width: 100%;
  }

  input {
    width: 400px;
    position: absolute;
    font-size: 14px;
    bottom: 6px;
    padding: 0.4em;
  }

  p {
    font-size: 14px;
  }
}
