.message {
  padding: 5px 10px;
}

.error-message {
  background: #ecc;
  border: 1px dashed #900;
  .message;
}

.success-message {
  background: #cec;
  border: 1px dashed #090;
  .message;
}

.info-message {
  background: #eec;
  border: 1px dashed #aa0;
  .message;
}
