<form method="post" action="{{action}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <label>Username: <input type="text" name="username"></label><br>
  <label>Password: <input type="password" name="password"></label>
  <button type="submit">login</button>
</form>
