body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.45em;
  margin: 0;
}

.fixed-bar {
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
  padding: 5px 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
}

.wrap {
  margin-top: 30px;
  padding: 10px;
}


.nav-bar {
  padding: 0;
  margin: 0;
}
.nav-bar li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.nav-bar .username-you {
  font-weight: bold;
}

#score {
  border: 1px solid #fcfcfc;
  display: inline-block;
  position: relative;
  height: 1.3em;
  vertical-align: middle;
}
#score span {
  display: inline-block;
  font-size: 0.9em;
  height: 1em;
  padding: 2px;
  vertical-align: middle;
}
#score .player0 {
  background: #f7f7f7;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
#score .player1 {
  background: #000;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #fff;
  text-align: right;
}
#score .player0 span {
  position: absolute;
  left: 0;
  top: 0;
}
#score .player1 span {
  position: absolute;
  right: 0;
  top: 0;
}

#gamefield {
  display: inline-block;
}

#chat {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 20px;
  position: relative;
  vertical-align: top;
  height: 95%;
  width: 400px;
}

#chat .system {
  color: #999;
}

#chat .you {
  color: #090;
}

#chat .player {
  color: #900;
}

#chat .spectator {
  color: #333;
}

#chat .content {
  position: absolute;
  top: 0;
  bottom: 22px;
  overflow-y: scroll;
  width: 100%;
}

#chat input {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.score {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
