body {
}

p {
  font-size: 16px;
  line-height: 1.45em;
  margin: 0;
}

#canvas {
  display: inline-block;
}

#chat {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 20px;
  position: relative;
  vertical-align: top;
  height: 95%;
  width: 400px;
}

#chat .system {
  color: #999;
}

#chat .you {
  color: #090;
}

#chat .enemy {
  color: #900;
}

#chat .someone {
  color: #333;
}

#chat .content {
  position: absolute;
  top: 0;
  bottom: 22px;
  overflow-y: scroll;
  width: 100%;
}

#chat input {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.score {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
